---
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
Standard: Latest
PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Pointer
IncludeBlocks: Preserve
SeparateDefinitionBlocks: Leave
...
